<html lang="en"><head>
    <meta charset="utf-8">
    
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- font awesome -->
    <script src="https://use.fontawesome.com/edea8e45f9.js"></script> 

    <title>!Teams</title>
    <!-- custom css -->
    <link rel="stylesheet" href="home/home.css">

  </head>

<body class="d-flex flex-column h-100">
  
    <%- include  ('partials/header.ejs')  %>

    <div id="notes" class="carousel slide" data-bs-ride="carousel" style="padding-top :8% ;padding-left: 15% ; padding-right: 15%; padding-bottom: 5%;">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#notes" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <% for(let i=2 ; i<=16 ;i++){ %>
            <button type="button" data-bs-target="#notes" data-bs-slide-to="<%= (i-1).toString() %>" aria-label="Slide <%= (i).toString() %>"></button>
            <% } %>  
          </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/c1.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <!-- <h5>First slide label </h5> -->
              <p>Want to  create a new meeting ?? Click here </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/c2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <!-- <h5>Second slide label</h5> -->
              <p>Want to join an already existing meeting ?? Click here</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/c3.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <!-- <h5>Third slide label</h5> -->
              <p>Need to create a meeting but want to access just the chat room ?? Click here</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/c4.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <!-- <h5>Fourrth slide label</h5> -->
              <p>Want to access the chat room of a meeting which already exists ?? Click here</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/c5.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h4>Enter the name you want others to see in meeting and chat room.</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/c6.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h4>Meeting Id is displayed here, you can copy it by clicking on the 'copy' button beside it.</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/c7.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h4>Meeting Link is displayed here, you can copy it by clicking on the 'copy' button beside it. Others can join this meeting by going to this link.</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/c8.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h4>To Start/Stop video use this button.</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/c9.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h4>To Mute/Unmute audio use this button.</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/c10.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h4>To Start/Stop Sharing Screen use this button.</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/c11.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h4>To Zoom in / Zoom out of a video click on the video.</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/c12.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h4>To send a message type here, and press the 'send' button beside it or press 'enter key' on you keyboard.</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/c13.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h4>To Leave the meeting press this button.</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/c14.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>To send a message type here, and press the 'send' button beside it or press 'enter key' on you keyboard.</h5  >
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/c15.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h4>To Leave the chatroom and Join the Meeting use this button.</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/c16.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h4>To Leave the chatroom use this button.</h4>
            </div>
          </div>
        
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#notes" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#notes" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <%- include  ('partials/footer.ejs')  %>
    <script src="/socket.io/socket.io.js"></script>
    <script src=" /home/home.js"></script>

</body>

</html>